<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h3 class="aside-title">Filter Controls</h3>
      </div>
      <div class="aside-body">
        <h4>Sepia</h4>
        <div id="slider">
          <input class="form-control" type="range" min="0" max="100" ng-model="sun.sep">
          <span class="highlight"></span>
          <output id="rangevalue">{{sun.sep}}</output>
        </div>
        <h4>Saturation</h4>
        <div id="slider">
          <input class="form-control" type="range" min="0" max="5000" ng-model="sun.sat">
          <span class="highlight"></span>
          <output id="rangevalue">{{sun.sat}}</output>
        </div>
        <h4>Invert</h4>
        <div id="slider">
          <input class="form-control" type="range" min="0" max="100" ng-model="sun.inv">
          <span class="highlight"></span>
          <output id="rangevalue">{{sun.inv}}</output>
        </div>
        <h4>Hue</h4>
        <div id="slider">
          <input class="form-control" type="range" min="0" max="360" ng-model="sun.hue">
          <span class="highlight"></span>
          <output id="rangevalue">{{sun.hue}}</output>
        </div>
      </div>
      <div class="aside-footer">
        <p class="text-left">By: Alex Kaufman</p>
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
