<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h3 class="aside-title">Animation Controls</h3>
      </div>
      <div class="aside-body">
        <h4>-Future Controls for Sun</h4>
      </div>
      <div class="aside-footer">
        <p class="text-left">By: Alex Kaufman</p>
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
